/*#hicks section{
    background-color:(black);
    height: 300px;
    width: 300px;
    
    border-radius: 20% 20% 0% 0%;
    overflow: hidden;

}
#hicks div{
    background-color: rgb(237, 98, 58);
    float: left;
    height: 10%;
    width: 10%;
    border-radius: 50%;
   
    /* transform: skew(.312rad); giving life to the infinite demon pillows*/ 
    
}

#hicks div:nth-child(1),
#hicks div:nth-child(2),
#hicks div:nth-child(11),
#hicks div:nth-child(30),
#hicks div:nth-child(19),
#hicks div:nth-child(50),
#hicks div:nth-child(39),
#hicks div:nth-child(3)
{
    background-color: rgb(152, 37, 32);
}

#hicks div:nth-child(31)
{
    background-color: rgb(230, 176, 68);
}

#hicks div:nth-child(60)
{
    background-color: rgb(18, 37, 79);
}
(152, 37, 32) dark red 
(222 153 59)
(230 176 68)
(20 18 47)
