<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../common/reset.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="hicks.css" rel="stylesheet">
    <link href="turrell.css" rel="stylesheet">
    <link href="lissitzky.css" rel="stylesheet">
    <title>Layout</title>
</head>

<body>
    <header>
        <h1>

        </h1>
    </header>

    <figure id="turrell">
        <section>
            <div class="sky">
                <div class="cloud">
                    <div class="cloud-1"></div>
                </div>

            </div>

        </section>
        <figcaption>
            <a href="https://www.moma.org/audio/playlist/288/3732?high_contrast=false">
                James Turrel
                <em>Meeting</em>
                from
                <em>Rooms.</em>
                2016 ◐
            </a>
        </figcaption>
    </figure>

    <figure id="hicks">
        <section>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>



        </section>
        <figcaption>
            <a
                href="https://www.sothebys.com/en/museums/the-bass-museum-of-art/exhibitions/sheila-hicks-campo-abierto-open-field">
                Sheila Hicks
                <em>Escalade Beyond Chromatic Lands</em>
                from
                <em>Campo Abierto</em>
                2016 ◐
            </a>
        </figcaption>
    </figure>
    <figure id="lissitzky">
        <section>
            TK
        </section>

        <figcaption>
            <a href="https://commons.wikimedia.org/wiki/File:Artwork_by_El_Lissitzky_1919.jpg">
                EL lissitzky
                <em>Beat the Whites with the Red Wedge</em>
                1919 ◐
            </a>
        </figcaption>
    </figure>
</body>

</html>