body{
    background-color: rgb(1, 1, 2);
    padding: 100px 24px;
    font-family: 'Courier New', Courier, monospace;
}
figcaption{
    margin-top: 30px;
    color: white;

}

header h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
}
figure{
    margin: 0 auto;
    width: 700px;
}