body {
    --spacing: 24px;

    font-family: 'Courier New', Courier, monospace;
    padding: var(--spacing);
    display: grid;
    gap: calc(var(--spacing) * 2);
}

@media (min-width: 600px) {
    body {
        --spacing: 32px;
    }
}

h1 {
    font-size: 300%;
}

#graph {
    --total: calc(var(--type--felony) + var(--type--violation) + var(--type--misdemeanor) +var(--type--other));
    display: flex;
    margin-top: calc(2 * var(--spacing));
    background-color: #ccc;
    height: calc(2 * var(--spacing));
}

#graph li {
    padding: calc(var(--spacing)/2);
    color: white;
    display: flex;
    align-items: center;
}

li {
    width: 0%;
}

.felony {
    background-color: pink;
}

.violation {
    background-color: rgb(142, 67, 80);
}

.misdemeanor {
    background-color: rgb(104, 23, 37);
}

.other {
    background-color: rgb(228, 228, 228);
}

li.felony {
    width: calc(var(--type--felony) / var(--total) * 100%);
}

li.violation {
    width: calc(var(--type--violation) / var(--total) * 100%);
}

li.misdemeanor {
    width: calc(var(--type--misdemeanor) / var(--total) * 100%);
}

li.other {
    width: calc(var(--type--other) / var(--total) * 100%);
}